<div id="bard" class="col-md-4">
  <p>Here goes a picture of the bard</p>
</div>
<div id="tweet" class="col-md-8">
  <p id="script"></p>
  <button class="button btn-bard" data-toggle="modal" data-target="#bardModal">Bard</button>
  <button class="button btn-tweet" data-toggle="modal" data-target="#bardModal">Tweet</button>
</div>
