// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headline{
  text-align:center;
}

#tagline{
  text-align:center;
}

#tweet{
  border:1px solid black;
  float:right;
  //width:66%;
  padding-left:5px;
}

#bard{
  float:left;
  border:1px solid black;
  //width:20%;
  padding-left:48px;
  padding-right:48px;
  margin:auto;
}

.button{
  width:200px;
  background-color:green;
  font-size:24px;
  margin:auto;
}
