// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #efefef!important;
}

#bard{
  float:left;
}

#tweet{
  float:right;
  padding:20px;
}

.button{
  width:200px;
  background-color:green;
  font-size:24px;
  text-align: center;
}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#width{
  width:620px;
  margin:0 auto;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
